body{
    margin: 0px;
    padding: 0px;
    display: flex;
}

#anima {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
    position: relative;
    animation-name: caer;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes caer {
    0% {
        top: 0px;
    }

    20% {
        top: 250px;
        animation-timing-function: ease-out;
    }

    22% {
        top: 275px;
        transform: scaleY(.6);
    }
    
    24% {
        top: 270px;
        transform: scaleY(1);
        animation-timing-function: ease-out;
    }

    45% {
        top: 150px;
        animation-timing-function: ease-in;
    }

    60% {
        top: 270px;
        transform: scale(1);
        animation-timing-function: ease-out;
    }

    61% {
        top: 273px;
        transform: scaleY(.6);
    }

    63% {
        top: 270px;
        transform: scaleY(1);
        animation-timing-function: ease-out;
    }

    85% {
        top: 78%;
        animation-timing-function: ease-in;
    }

    95% {
        top: 80%;
    }

    100% {
        top: 80%;
    }
}