* {
    margin: 0;
    padding: 0;
}

.menu {
    background: #333;
    padding: 10px;
    
}

.opciones {
    display: flex;
    gap: 20px;
    list-style: none;
}

.subopcion {
    padding: 10px 20px;
    position: relative;
    background: white;
    border-radius: 6px;
    border: 2px solid #e63946;
    top: 0px;
    vertical-align: top;
    display: inline-block;
}

.submenu {
    position: relative;
}

.opciones2 {
    display: block;    
    position: absolute;
    top: 45px;
    left: 0;
    background: #fff;
    border-radius: 6px;
    border: 2px solid #e63946;
    list-style: none;
    width: 160px;
}



.subopcion2 {
    padding: 10px;
    display: block;
    border-bottom: 1px solid #ddd;
}

.subopcion2:hover {
    background: #ffe5e5;
    
}


