/* li:first-child{
    color: blue;
}

body :only-child{
    background-color: lime;
} */

div{
    background-color: white;
    box-sizing: border-box;
    border:;
    width: 40px;
    height: 40px;
}

div:nth-child(even){
    background-color: black;
}

@media (max-width: 600px){
    div{
        background-color: yellow;
    }
}