/* Alberto Martinez Martinez  */
.texto-vertical {
    writing-mode: vertical-lr; 
    transform: rotate(180deg);
    text-align: center;
    font-weight: bold;
    color: #555;
    padding-right: 15px;
    font-size: 1.1rem;
}

.dia-columna {
    border-right: 1px solid #dee2e6;
    min-width: 130px;
}

.cabecera-dia {
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
}

.asignatura {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 1px solid rgba(255,255,255,0.1);
}

.unah { height: 80px; }
.dosh { height: 160px; }

.patio {
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.patioh { height: 30px !important; }


.hora {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: #444;
}

.color-daw { background-color: #356acc; }    
.color-dwes { background-color: #29af3d;} 
.color-opt { background-color: #F08080; } 
.color-ipe { background-color: #a84343; }    
.color-2inter { background-color: #BA55D3; }    
.color-dig { background-color: #035e2d; }    
.color-sos { background-color: #001d7e; }    
.color-diw { background-color: #dc8120; }    

body {
    background-color: #fff;
    font-family: Arial, sans-serif;
}